.loginDesign{
    background-color: white;
    height: 90vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.formDesign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.inputsDesign{
    margin: 10px;
}