.inputDesign{
    border-radius: 20px;
    border: solid 2px black;
    width: 30vw;
    height: 3em;
    text-align: center;
    font-family: 'Myfont';
}

.inputDesign:hover{
    background-color: rgb(145, 212, 235);
    border: solid 2px black;
}

@media (max-width: 992px){
    .inputDesign{
        width: 50vw;
        height: 2.5em;
    }
}