.homeDesign{
    background-color: lightblue;
    height: 90vh;
    width: 100vw;
    font-family: 'Myfont';
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.imgDesign{
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
}