.homeDesign{
    background-color: lightblue;
    height: 90vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.imgDesign{
    width: 50vw;
    border-radius: 20px;
}