.contDesign{
    display: flex;
    
}

.navbarDesign{
    height: 10vh;
}

.imgNavbar{
    height: 7vh;
}

@media (max-width: 992px){
    .imgNavbar{
        height: 0;
    }
}

.txtDesign{
    font-family: 'Myfont';
}
