.cardDesign{
    border: solid 2px black;
    border-radius: 5px;
    height: 20vh;
    width: 20vw;
    font-family: 'Myfont';
}

@media (max-width: 992px){
    .cardDesign{
        height: 25vh;
        width: 40vw;
        font-size: small;
    }
}