.adminDesign{
    width: 100vw;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.cardDesignAdmin{
    gap: 2em;
}

.txtDesignAdmin{
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Myfont';
    font-size: xx-large;
}
body {
    background-color: lightblue;
}

.carduserDesign{
    width: 100%;

}