.adminDesign{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: lightblue;
    text-align: center;
    flex-direction: column;
}

.cardDesignAdmin{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 2em;
}

.txtDesignAdmin{
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Myfont';
    font-size: xx-large;
}
body {
    background-color: lightblue;
}

@media (max-width: 992px){
    .cardDesignAdmin{
        grid-template-columns: 1fr 1fr;
    }
}

.carduserDesign{
    flex-wrap: wrap;

}